@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-primary-green {
  background-color: #006633;
}

.text-primary-green {
  color: #006633;
}

.bg-secondary-yellow {
  background-color: #FFCC00;
}

.text-secondary-yellow {
  color: #FFCC00;
}

.hover\:text-secondary-yellow:hover {
  color: #FFCC00;
}

.hover\:bg-secondary-yellow:hover {
  background-color: #FFCC00;
}

.hover\:text-primary-green:hover {
  color: #006633;
}